.event-card {
    display: flex;
    align-items: center;
    border: 2px solid black;
    border-radius: 1rem;
    width: 90%;
    margin-bottom: 1rem;
}

.event-date {
    border-top-left-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
    min-width: 125px;
    background-color: black;
    color: white;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.event-date h2 {
    font-size: 1rem;
    font-weight: normal;
    padding: 1rem;
}

.event-details {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    flex-grow: 1;
}

.event-info-nav {
    margin-right: 1rem;
    text-align: center;
    min-width: 70px;
    color: white;
    padding: 0.5rem;
    font-size: 1rem;
    background-color: black;
    border-radius: 1rem;
}

@media screen and (max-width: 720px) {
    .event-card {
        flex-direction: column;
    }

    .event-date {
        border-top-right-radius: 0.75rem;
        border-bottom-left-radius: 0;
    }

    .event-details {
        font-size: 0.95rem;
        align-items: center;
        text-align: center;
    }

    .event-info-nav {
        margin: 1rem;
    }
}