p {
    color: white;
}

.container {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    align-items: center;
}

.links a {
    padding: 12px;
    color: white;
    cursor: pointer;
}

.links a:hover {
    background-color: grey;
    color: white;
}

.links a.active {
    background-color: grey;
    color: orange;
}

.search {
    display: flex;
    align-items: center;
    padding: 8px;
}

/* Hide search bar when the screen is smaller.*/
@media screen and (max-width: 720px){
    .search {
        display: none;
    }
}

.search input{
    margin: 2px 4px;
    cursor: pointer;
}

.links p {
    margin: 0;
    padding: 8px;
}