.category-header {
    width: 100%;
    position: relative;
}

.category-header img {
    height: 200px;
    width: 100%;
}

.category-navlinks {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    color: white;
}

.category-navlinks a {
    color: white;
}

.category-filters {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.category-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
