.homepage-header {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.homepage-header h1 {
  color: black;
  font-size: 2.5rem;
  margin: 0;
  padding: 0.5rem;
  text-align: center;
  text-wrap: true;
}

.homepage-header h2 {
  color: black;
  font-size: 1.5rem;
  margin: 0;
  padding: 0.5rem;
  text-align: center;
  text-wrap: true;
}

.homepage-header svg {
  height: 1.5rem;
  padding: 0;
  margin: 0;
}

.homepage-header img {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 30%;
  flex-grow: 1;
}

.homepage-header-media {
  display: flex;
  position: relative;
  justify-content: center;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  width: 65%;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 0px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 4px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.media-overlay-button {
  position: absolute;
  background-color: black;
  text-align: center;
  padding: 0.5rem;
  border-radius: 2rem;
  font-size: 0.9rem;
  bottom: 1rem;
  right: 1rem;
  color: white;
  width: 200px;
  cursor: pointer;
}

.homepage-body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 2rem;
}

@media screen and (max-width: 1080px) {
  .homepage-header-media {
    width: 85%;
  }
}

@media screen and (max-width: 720px) {
  .homepage-header > h1 {
    font-size: 1.5rem;
  }

  .homepage-header svg {
    height: 1rem;
  }

  .homepage-header > h2 {
    font-size: 1rem;
  }

  .media-overlay-button {
    width: 150px;
  }

  .media-text-overlay {
    font-size: 0.9rem;
  }
}
