/* .registration-container{
    width: 400px;
    background-color: rgb(0, 31, 63);
    border-radius: 1rem;
    display: flex;
    padding: 1rem;
}

.registration-form-container {
    height: 100%;
    width: 100%;
} */

.registration-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.registration-form-container {
  color: white;
  width: 400px;
  background-color: black;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.registration-form-container > header {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.registration-form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color: white;
}

.registration-form > label {
  margin-bottom: 0.5rem;
}

.registration-form > input {
  height: 2rem;
  border-radius: 0.5rem;
  z-index: 1; /* Helps prevent accidentally clicking the password manager pop ups in Firefox.*/
}

.registration-form > button {
  font-family: 'Nunito', sans-serif;
  padding: 0.5rem;
  margin-top: 4px;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.registration-form > button:disabled {
  cursor: default;
}

.already-registered {
  color: white;
}

.already-registered > p {
  margin: 0;
}

.already-registered > a {
  text-decoration: underline;
  text-underline-offset: 2px;
  cursor: pointer;
}
.already-registered > a:visited {
  color: white;
}

.input-requirements {
  position: relative;
  background-color: black;
  border-radius: 0.5rem;
}

.input-requirements > svg {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}

.input-requirements > p {
  font-size: 0.75rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}

.hidden {
  display: none;
}

.tooltip {
  display: flex;
  align-items: flex-start;
  font-size: 12px;
  min-height: 0.5rem;
  margin-left: 4px;
  margin-top: 4px;
  margin-bottom: 8px;
}

.tooltip > p {
  margin: 0;
  color: red;
}
