.registration-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.registration-form-container {
  color: white;
  width: 400px;
  background-color: black;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.registration-form-container > h1 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.submission-error {
  margin: 0;
  margin-bottom: 1rem;
  color: red;
}

.registration-form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color: white;
}

.registration-form > label {
  margin-bottom: 0.5rem;
}

.registration-form > button {
  font-family: 'Nunito', sans-serif;
  padding: 0.5rem;
  margin-top: 4px;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.registration-form > button:disabled {
  cursor: default;
}

.form-nav {
  color: white;
  display: flex;
  flex-direction: column;
}

.form-nav > p {
  margin: 0;
  margin-bottom: 0.5rem;
}

.form-nav a {
  text-decoration: underline;
  text-underline-offset: 2px;
  cursor: pointer;
  margin-bottom: 0.5rem;
  color: orange;
}
.form-nav a:visited {
  color: orange;
}

.hidden {
  display: none;
}

