html, body {
    background-color: bisque;
    margin: 0;
    font-family: "Roboto Mono", monospace;
}

.app-body-content {
    flex-grow: 1;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}