.error-tooltip {
    display: flex;
    align-items: flex-start;
    font-size: 12px;
    min-height: 0.5rem;
    margin-left: 4px;
    margin-top: 4px;
    margin-bottom: 8px;
  }
  
  .error-tooltip > p {
    margin: 0;
    color: red;
  }

  .form-input {
    height: 2rem;
    border-radius: 0.5rem;
    z-index: 1; /* Helps prevent accidentally clicking the password manager pop ups in Firefox.*/
  }

  .input-error {
    border: 2px solid red;
    background-color: rgb(245, 152, 152);
  }